<link href="css/index.css" rel="stylesheet" type="text/css">

<meta charset=UTF-8>
<body>
	<div id="wrapper">
		<div id="container">
			<div class="row">
				<div class="col-sm">
					<img src="img/image1.jpg" alt="Aitor Fortuna" width="720px" height="900px" class="mx-auto d-block">
				</div>
				<div class="col" align="center">
					<img src="img/logo.png" alt="AFlogo" width="300px" height="300px">
			     	<hr>
				<h2>Aitor Fortuna Girón</h2>
				<p>Soy un desarrollador de aplicaciones web, recién titulado en Técnico Superior de Desarrollo de Aplicaciones Web. En este momento estoy trabajando en proyectos de manera independiente mientras me formo sobre nuevas tecnologías.</p>
     			<ul class="menu">
        			<li><a href="/blog">BLOG</a></li>
        			<li><a href="/tecno">TECNO</a></li>
        			<li><a href="/proyectos">PROYECTOS</a></li>
      			</ul>
      			<ul class="icons">
      				<li><a href="https://twitter.com/aitorfortu"><img onmouseover="hovertw(this);" onmouseout="unhovertw(this);" src="img/twitter-1.png" alt="Twitter" width="20px" height="20px"></a></li>
      				<li><a href="https://www.linkedin.com/in/aitor-fortuna-girón-37b324117"><img onmouseover="hoverin(this);" onmouseout="unhoverin(this);" src="img/linkedin-1.png" alt="Linkedin" width="20px" height="20px"></a></li>
      				<li><a href="mailto:fortunagiron26@gmail.com"><img onmouseover="hoverem(this);" onmouseout="unhoverem(this);" src="img/email-1.png" alt="Email" width="20px" height="20px"></a></li>
      				<li><a href="https://www.instagram.com/aitorfortu/"><img onmouseover="hoverig(this);" onmouseout="unhoverig(this);" src="img/instagram-1.png" alt="Instagram" width="25px" height="25px"></a></li>
      			</ul>
		 		</div>
	 		</div>
		</div>
	</div>
	<script src="js/index.js"></script>
</body>

			

