<link href="css/tecno.css" rel="stylesheet" type="text/css">

<meta charset=UTF-8>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T4H6J26"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="wrapper">
	<div id="container">
		<div class="row">
			<div class="col-10">
				<h2>Estas son las tecnologías que manejo actualmente.</h2>
				<hr>
				<img src="img/tecnologias.png"  height="800px" width="1000px">
			</div>

				<a href="/"id="volver"><img src="img/volver-01.png" onmouseover="hoverback(this);" onmouseout="unhoverback(this);" height="75px" width="75px"></a>

		</div>
	</div>
</div>
<script src="js/tecno.js"></script>
</body>